@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@theme {
  --color-white:#ffffff;
  --color-grey:#efefef;
  --color-green: #51a424;
  --color-darkgreen:#007a33;
}


:root {
 font-family: "Titan One", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color:#213547;
  background-color: #efefef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.ant-float-btn-body {
  background-color: #25D366 !important;
  color: white !important;

}

.ant-float-btn-body:hover {
  background-color: #20b358 !important;
}

.ant-float-btn-body:focus {
  background-color: #1da851 !important;
}

.ant-float-btn-icon {
  width: 40px !important;
  font-size: 23px !important
}

.custom-search .ant-input {
  border-radius: 12px;
  padding: 10px 12px;
}

.custom-search .ant-btn {
  border-radius: 12px;
      height: initial;
}

.ant-checkbox-wrapper {
  font-size: 0.95rem;
}

.ant-collapse-header {
  padding: 0 !important;
  font-size: 1rem;
}



.red {
  color: #e53935;
}

.yellow {
  color: #fbc02d;
}

.blue {
  color: #1e88e5;
}

.green {
  color: #00b800;
}